$primaryColor: linear-gradient(to bottom, #c6c6c6, #b9b9b9, #acacac, #9f9f9f, #929292);
$secondaryColor: linear-gradient(to bottom, #414141, #323232, #232323, #151515, #000000);
$invertedPrimaryColor: linear-gradient(to top, #c6c6c6, #b9b9b9, #acacac, #9f9f9f, #929292);
$invertedSecondaryColor: linear-gradient(to top, #414141, #323232, #232323, #151515, #000000);
$thirdColor: #CB0A37;
$fourthColor: #C7CB3D;
$fifthColor: #ADB5B8;
$warningColor: #DB0404;
$sixthColor: #1B2029;
$seventhColor: #94979D;
$eightColor: #777B85;