@import './variables';

#contactUsForm {
 height: 80vh;
 width: 100%;
 background-color: grey;
 display: flex;
 flex-direction: column;
 #contactUsNameLabel{
     height: 10vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     #name{
         font-size: .8rem;
         border: none;
         border-radius: 10px;
         padding-top: 1vh;
         padding-bottom: 1vh;
         width: 50%;
         outline: none;
     }
     #nameWarningDiv{
         font-size: .8rem;
         width: 50%;
         height: 3vh;
         text-align: center;
         p{
            color: $warningColor;
         }
     }
 }
 #contactUsSurnameLabel{
     height: 10vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     #surName{
         font-size: .8rem;
         border: none;
         border-radius: 10px;
         padding-top: 1vh;
         padding-bottom: 1vh;
         width: 50%;
         outline: none;
     }
     #surnameWarningDiv{
         font-size: .8rem;
         width: 50%;
         height: 3vh;
         text-align: center;
         p{
            color: $warningColor;
         }
     }
 }
}