@import "./variables";

.cms_container {
  width: 100%;
  height: 80vh;
  background-image: $invertedPrimaryColor;
  display: flex;
  justify-content: center;
  align-items: center;
  .cms_table_container {
    width: 96vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    .cms_table {
      margin: 0 auto;
      height: 50vh;
      width: 96vw;
      .cms_table-thead {
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        .cms_table-firstrow {
          height: 5vh;
          line-height: 5vh;
          display: flex;
          flex-direction: row;
          width: 96vw;
          :nth-child(even) {
            background-color: $seventhColor;
            color: $sixthColor;
          }
          :nth-child(odd) {
            background-color: $eightColor;
            color: $fifthColor;
          }
          .cms_table-th {
            width: 16vw;
            border-right: 1px solid black !important;
          }
        }
      }
      .cms_table-tbody {
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 100%;

        .cms_tbody_firstRow {
          height: 5vh;
          line-height: 5vh;
          display: flex;
          flex-direction: row;
          width: 96vw;
          :nth-last-child(1) {
            border-right: 1px solid black;
          }
          .firstRow_date {
            width: 16vw;
            text-align: center;
            font-size: 1rem;
          }
        }
        .cms_tbody-secondRow {
          height: 5vh;
          line-height: 5vh;
          display: flex;
          flex-direction: row;
          border-bottom: 1px solid black;
          width: 96vw;
          :nth-last-child(1) {
            border-right: 1px solid black;
            border-bottom: none;
          }

          .secondRow_message {
            width: 32vw;
            text-align: center;
            font-size: 1rem;
          }
          .secondRow_message-content {
            text-align: center;
            overflow: scroll;
            width: 64vw;
          }
        }
      }
    }
  }
}
.even {
  background-color: $eightColor;
  color: $fifthColor;
}
.odd {
  background-color: $seventhColor;
  color: $sixthColor;
}

.darkMode {
  .cms_container {
    background-image: $invertedSecondaryColor;
  }
}
