@import './variables';

.footer_container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-image: $primaryColor;
    .vet_conteiner{
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

    }
    .icons_container{ 
        margin: 0 auto;
        width: 90%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 1.5rem;
        #abc {
            color: $sixthColor;
            transition: all .35s ease-in-out;
            cursor: pointer;
            text-decoration: none;
            @media screen and (min-width: 1367px){
                &:hover {
                    color: $thirdColor;
                }
            }
        
        }
    }
}
.darkMode {
    .footer_container {
        background-image: $secondaryColor;
    }
    .vet_conteiner {
        color: $fifthColor;
    }
    .icons_container{
        #abc{
            color: $fifthColor;
        }
    }
}