@import './variables';

.homePageContainer{
    height: 75vh;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    .singlePhoto{
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        height: 100%;
        z-index: -10;

    }
}
.contactUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    .contactButtonLink {
        width: 25vw;
        height: 4vh;
        border-radius: 10px;
        text-transform: uppercase;
        outline: none;
        font-size: .6reem;
        .buttonLink{
            text-decoration: none;
            color: $sixthColor;
        }
    }

}