@import "./variables";

.homeMainContainer {
  width: 100%;
  height: 80vh;
  position: relative;
  background-image: $invertedPrimaryColor;

  .homePageContainer {
    height: 75vh;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;

    .singlePhoto {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 100%;
      height: 100%;
    }
  }
  .contactUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    position: relative;
    .contactButtonLink {
      width: 30vw;
      height: 4vh;
      border-radius: 10px;
      text-transform: uppercase;
      outline: none;
      font-size: 1rem;
      cursor: pointer;
      background-color: $sixthColor;
      transition: all .35s ease-in-out;
      @media  screen and (max-width: 415px) {
          font-size: .75rem;
      }
      @media  screen and (max-width: 376px) {
          font-size: .7rem;
      }
      @media  screen and (max-width: 321px) {
          font-size: .6rem;
      }
      .buttonLink {
        display: block;
        text-decoration: none;
        color: $fifthColor;
        width: 100%;
        height: 2vh;

      }
    }
  }
}
.darkMode {
  .homeMainContainer{
    background-image: $invertedSecondaryColor;
    .homePageContainer{

    }
    .contactUsContainer{
      .contactButtonLink{
        background-color: $fifthColor;
        .buttonLink{
          color: $sixthColor;
        }
      }
    }
  }

}
