@import "./variables";

.navigationWidthContainer,
.navigationWidthContainerNight {
  width: 100vw;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  .darkModeContainer {
    width: 30vw;
    margin-left: 5vw;
  }
  .logeContainerDay,
  .logoContainerNight {
    line-height: 10vh;
    height: 10vh;
    width: 30vw;
    text-align: center;
    .logoLinkDay,
    .LogoLinkNight {
      display: block;
      height: 10vh;
      cursor: pointer;
      text-decoration: none;
      font-size: 2rem;
    }
  }
  .hamburgerMenuDay,
  .hamburgerMenuNight {
    display: none;
    cursor: pointer;
    @media screen and (max-width: 1028px) {
      display: block;
      width: 30vw;
      text-align: right;
      margin-right: 5vw;
      transition: all 0.35s ease-in-out;
    }
    .fa-times {
    }
    .fa-bars {

    }
  }
  .menuActive {
    width: 30vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: (repeat(4, auto));
    grid-gap: 10px;
    text-align: center;
    transition: all .35s ease;
    @media screen and (max-width: 1030px) {
      margin-right: 0vw;
      position: absolute;
      display: flex;
      flex-direction: column;
      grid-gap: 0px;
      top: 10vh;
      height: 80vh;
      width: 100%;
      animation: activeMenuAnimation .4s linear;
      left: 0%;
      text-align: center;
      z-index: 10;
      @keyframes activeMenuAnimation {
          0%{
            left: -100%;
          }
          50%{
            left: -50%;
          }
          100%{
            left: 0%;
          }
          
      }
    }
    .liElementDay,
    .LiElementNight {
      display: flex;
      height: 10vh;
      line-height: 10vh;
      width: 100%;
      @media screen and (max-width: 1030px) {
        display: flex;
        height: 20vh;
        line-height: 20vh;
        justify-content: center;
      }
      .liLinkElement,
      .liLinkElementNight {
        height: 10vh;
        text-decoration: none;
        @media screen and (max-width: 1030px) {
          height: 20vh;
          line-height: 20vh;
          width: 100%;
        }
      }
    }
  }
  
  .menuUnactive {
    width: 30vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: (repeat(4, auto));
    grid-gap: 10px;
    text-align: center;
    transition: all 0.35 ease;
 
    @media screen and (max-width: 1030px) {
      margin-right: 0vw;
      position: absolute;
      display: flex;
      flex-direction: column;
      grid-gap: 0px;
      top: 10vh;
    
      height: 80vh;
      width: 100%;
      animation: unactiveMenuAnimation .4s 
      linear;
      left: -100%;
      z-index: 10;
     
      @keyframes unactiveMenuAnimation {
          0%{
            left: 0%;
          }
          50%{
            left: -50%;
          }
          100%{
            left: -100%;
          }
      }
    }
    .liElementDay,
    .LiElementNight {
      display: flex;
      height: 10vh;
      line-height: 10vh;
      width: 100%;
      @media screen and (max-width: 1030px) {
        display: flex;
        height: 20vh;
        line-height: 20vh;
        justify-content: center;
      }
      .liLinkElement,
      .liLinkElementNight {
        height: 10vh;
        text-decoration: none;
        @media screen and (max-width: 1030px) {
          height: 20vh;
          line-height: 20vh;
          width: 100%;
        }
      }
    }
  }
}

.navigationWidthContainer {
  background-image: $primaryColor;
}
.navigationWidthContainerNight {
  background-image: $secondaryColor;
}

.logeContainerDay {
}
.logoContainerNight {
}
.hamburgerMenuDay{
  color: $sixthColor;
  transition: all .35s ease-in-out;
  &:hover {
    color: $thirdColor;
  }
}
.hamburgerMenuNight{
  color: $fifthColor;
  transition: all .35s ease-in-out;
  &:hover {
    color: $fourthColor;
  }
}
.logoLinkDay {
  color: $sixthColor;
  transition: all 0.35s ease-in;
  &:hover {
    color: $thirdColor;
    // border-bottom: 2px solid $thirdColor;
    @media screen and (min-width: 1030px) {
      border-bottom: 2px solid $thirdColor;
    }
  }
}
.LogoLinkNight {
  color: $fifthColor;
  transition: all 0.35s ease-in;
  &:hover {
    color: $fourthColor;
    // border-bottom: 2px solid $fourthColor;
    @media screen and (min-width: 1030px) {
      border-bottom: 2px solid $fourthColor;
    }
  }
}
.menuDayMode {
    @media screen and (max-width: 1030px) {
        background-image: $invertedPrimaryColor;
    }
}
.menuNightMode {
    @media screen and (max-width: 1030px) {
        background-image: $invertedSecondaryColor;
    }

}
.liLinkElement {
  color: $sixthColor;
  transition: all 0.35s ease-in;
  &:hover {
    color: $thirdColor;
    border-bottom: 2px solid $thirdColor;
  }
  @media screen and (max-width: 1020px) {
    &:hover {
      color: $thirdColor;
      border-bottom: none;
    }
  }
}
.liLinkElementNight {
  color: $fifthColor;
  transition: all 0.35s ease-in;
  &:hover {
    color: $fourthColor;
    border-bottom: 2px solid $fourthColor;
  }
  @media screen and (max-width: 1020px) {
    &:hover {
      color: $fourthColor;
      border-bottom: none;
    }
  }
}

